/* DARK MODE */
.dark{
    --bg: #000000;
    --text: #ffffff;
    --hoverText: #dddddd;
    --activeText: #4da3ff;
    --nav: #1f1f1f;
    --card: #111111;
    --border: #444444;
}

/* LIGHT MODE */
.light{
    --bg: #ffffff;
    --text: #000000;
    --hoverText: #333333;
    --activeText: #0077ff;
    --nav: #f1f1f1;
    --card: #ffffff;
    --border: #cccccc;
}